body{
  background: rgb(186,27,27);
background: linear-gradient(90deg, rgba(186,27,27,1) 0%, rgba(43,227,14,1) 58%, rgba(0,212,255,1) 100%);
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 480px;
}

button{
  background-color: red;
  width: 240px;
  height: 140px;
  color: yellow;
  font-size: 40px;
}

button:hover{
  cursor: pointer;
  background-color: orange;
  color: green;
}

canvas{
  width: 700px;
  height: 450px;
  background: black;
  border: 10px solid yellow;
}

h2{
  text-align: center;
}

header img{
  width: 80%;
}

footer{
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
